{% extends 'mainapp/base.html' %}
{%  load static %}

{% block content %}
    <div class="row">
        <div class="col-sm-2"></div>
        <nav class="col-sm-8">
        <form class="form-horizontal" method="post">
            <div class="row-cols-sm-3">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <input class="btn btn-primary" type="submit" value="Войти">
            <button type="submit" class="btn btn-primary">Регистрация</button>
            </div>
        </form>
        </nav>

        <div class="col-sm-2"></div>
    </div>



{% endblock %}