{% extends 'mainapp/base.html' %}
{%  load static %}

{% block content %}
    <div class="row">
        <div class="col-sm-2"></div>
        <nav class="col-sm-8">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            <div class="row-cols-sm-8">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <input class="btn btn-primary" type="submit" value="Сохранить">
            <a href="{% url 'index' %}" class="btn btn-primary">На главную</a>
            </div>
        </form>
        </nav>

        <div class="col-sm-2"></div>
    </div>



{% endblock %}