{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
{#    {{ user.id }}#}
    {% for ell in survey_later %}
        {% if user.id == ell.user.id %}
            <div class="p-3 mb-2 bg-info text-white">Опрос: {{ ell.survey.title }} </div>
            <a href="{% url 'runlater:delete_run_later' ell.pk %}"> delete </a>
        {% else %}
            <div class="p-3 mb-2 bg-info text-white">У Вас нет отложенных опросов.</div>
        {% endif %}





    {% endfor %}

    <p> Kоличество опросов на попозже: {{ survey_later.count }}</p>
{#    <p> {{ user.runlater }} Kоличество: {{ survey_later.0.total }}</p>#}

{% endblock content %}