{% extends 'mainapp/base.html' %}

{% block survey %}
{% if i.type_answer == 1 %}
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Ваш ответ:</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
          {% endif %}

          {% if i.type_answer == 3 %}
            {% if i.var_answer1 %}
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
                  {{i.var_answer1}}
                </label>
              </div>
            {% endif %}
            {% if i.var_answer2 %}
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked>
                <label class="form-check-label" for="exampleRadios1">
                  {{i.var_answer2}}
                </label>
              </div>
            {% endif %}
            {% if i.var_answer3 %}
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" checked>
                <label class="form-check-label" for="exampleRadios1">
                  {{i.var_answer3}}
                </label>
              </div>
            {% endif %}
            {% if i.var_answer4 %}
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option4" checked>
                <label class="form-check-label" for="exampleRadios1">
                  {{i.var_answer4}}
                </label>
              </div>
            {% endif %}
          {% endif %}

          {% if i.type_answer == 2 %}
            {% if i.var_answer1 %}
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              {{i.var_answer1}}
            </label>
            <br>
            {% endif %}
            {% if i.var_answer2 %}
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              {{i.var_answer2}}
            </label>
            <br>
            {% endif %}
            {% if i.var_answer3 %}
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              {{i.var_answer3}}
            </label>
            <br>
            {% endif %}
            {% if i.var_answer4 %}
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              {{i.var_answer4}}
            </label>
            <br>
            {% endif %}
          {% endif %}
{% endblock survey %}